body{
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('francesco-1bBCtUAUMFI-unsplash.jpg') ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
   color: white;
 
    
}
header{
background-color: rgba(0,0,0,0.5);
    color: white; 
    margin-top: -20px;
    border-radius: 5px;
    font-weight: 900;
    
}

ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly; 
    font-weight: 900;
}
a{
    text-decoration: none;
    color: white;
    
}
section{
   
    position: absolute;
    bottom: 20px;
    height: 500px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.l1{
padding: 20px 10px;
}
.mid{
   height: 400px;
   width: 250px;
  
   text-align: center;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
.img1{
    height: 200px;
    width: 200px;
    border-radius: 8px;
}
li:hover{
    background-color: rgb(139, 137, 134);
}

